<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="${metaTitle} ? ${metaTitle} : 'GST MIS'"></title>

<!-- --- Style Sheets ------------------------------------------------------------- -->

<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../css/headerstyle.css" th:href="@{/css/headerstyle.css}">		
<link rel="stylesheet" type="text/css" href="../css/mainstyle.css" th:href="">		

<!-- --- JS Files ----------------------------------------------------------------- -->
<script type="text/javascript" src="../js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" src="../js/jquery.autocomplete.min.js" th:src="@{/js/jquery.autocomplete.min.js}"></script>
<script type="text/javascript" src="../js/home.js" th:src="@{/js/home.js}"></script>
</head>